body {
  padding: 0;
  margin: 0;
}

.priceweb .container .buttons button {
  border: none;
  padding: 8px 40px;
  margin: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 450;
}

.priceweb .container .buttons button:nth-child(1) {
  background-color: #1c6eb7;
  border-radius: 20px 0 0 20px;
}

.priceweb .container .buttons button:nth-child(2) {
  background-color: #eeeeee;
  border-radius: 0 20px 20px 0;
}

.priceweb .container .buttons button a {
  text-decoration: none;
}

.priceweb .container .buttons button:nth-child(1) a {
  color: #ffffff;
}

.priceweb .container .buttons button:nth-child(2) a {
  color: #1c6eb7;
}

.footer .row img {
  padding: 0;
  /* background-color: #1C6EB7; */
  /* min-height: 40px; */
}
